<!--<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Name my pet</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter an animal" required />
    <input type="submit" value="Generate names" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>-->

<!DOCTYPE html>
<head>
  <title>Guess Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <header><h1>Guess Game</h1></header>
  <main>
    <div id = "content">
      <div id = "gpt">
        <div id = "question">
          <div id = "container">
            <div id = "title">
              <h1>Question</h1>
            </div>
            <div id = "text">
              <p>{{ question }}</p>
            </div>
          </div>
        </div>
        <div id = "answer">
          <div id = "container">
            <div id = "title">
              <h1>Answer</h1>
            </div>
            <div id = "text">
              <div>
              <p id = "answer-text">{{ answer }}</p>
              <form onsubmit="return false;">
                <input type="submit" value="Its right" id = "check-button" onclick = "happyRobot()"/>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form action = "/" method = "post">
        <div id = "player">
          <div id = "player-input">
            <!--
            <fieldset>
                <div id = "choice-1">
                  <input type="radio" id="choice-1-input" name="gender" value="male" />
                  <label for="choice-1-input" >male</label>
                </div>
                <div id = "choice-2">
                  <input type="radio" id="choice-2-input" name="gender" value="female" />
                  <label for="choice-2-input">female</label>
                </div>
                <div id = "choice-3">
                  <input type="radio" id="choice-3-input" name="gender" value="other" />
                  <label for="choice-3-input">other</label>
                </div>
            </fieldset>
            -->
            <input id = "player-text" name = "input" type = "text" placeholder = "write down your answer here">
          </div>
          <div id = "player-button">
            <button type = "submit" id = "send">Send</button>
          </div>
        </div> 
      </form>
    </div>
  </main>
  <footer></footer>
  <script>
    function happyRobot(){
      alert("Happy, Happy, Happy (inserting happy cat image)");
    }
    e = document.getElementById("send");
    e.disabled = true;
    answer = document.getElementById("answer-text");
    check = document.getElementById("check-button");
    check.style.display = "none";
    if(answer.innerHTML != ""){
      check.style.display = "block";
      e.name = "reset";
      e.innerHTML = "Reset";
      e.disabled = false;
    }else{
      recent = 20;
      function tmp(){
        e.innerHTML = recent;
        recent -= 1;
        if(recent >= 0){
          setTimeout(tmp, 1000);
        }else{
          e.innerHTML = "Send";
          e.disabled = false;
        }
      }
      tmp(20);
    }
  </script>
</body>
